
h1 {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .col, .col2 {
        flex: 1;
        text-align: center;
    }
    
    .col1 {
        flex: 1;
        text-align: center;
        margin-right: 10px;
    }
    .picture-container {
        width: 480px;
        margin: 0 auto;
    }
    
    .qr-code-container {
        width: 300px;
        margin: 0 auto;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .return-button {
        background-color: maroon;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      
      .return-button:hover {
        background-color: darkred;
      }
      
      .return-button:focus {
        outline: none;
      }
      

